<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>我的她他它在哪儿？</title>
    <meta name="author" content="allinprogram#outlook.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>God bless!</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'ZCOOL KuaiLe', cursive;
            /* font-family: 'Noto Serif SC', serif; */
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
<div class="ui container">
    <br><br>
    <div class="ui card centered" style="width: auto;">
        <div class="content">
            <i class="big stethoscope icon right floated ui"></i>
            <div class="header">
                <h1>我的他她它在哪儿？</h1>
            </div>
            <div class="meta"></div>
            <div class="description">
                <p style="text-indent: 2em;">
                    最近认识一个姑娘，说她家在塔克拉玛干，那边阳光充足，
                    并且家里在那儿种有茶叶，长势喜人，质量贼高！
                    但是因为疫情无法销售出去，让我帮帮她。
                    我这好心肠哪能弃之不顾啊，但是为了防止被骗，
                    我便设计了本工具，去拿到她的IP地址，
                    确定她是不是真的在塔克拉玛干。
                </p>
            </div>
        </div>
        <div class="extra content" style="color: black;">
            <div style="text-align: center;">
                <h3>使用说明</h3>
                <a href="https://github.com/ufan0/where-is-he" target="_blank">
                    <h5>Tips: 服务器端不存储任何数据，源码已经公布在Github。</h5>
                </a>
                <br>
                <li>
                    提交邮箱即可获得一次性地址，有效期3分钟，
                    一旦该地址被访问，服务器便会发送访问者IP到用户提交的邮箱；
                </li>
                <li>
                    若正确操作，未出现预期结果，很可能是服务器邮件服务被BLOCK，
                    请自行获取源码搭建使用。
                </li>
                <li>
                    为了保证本页面能够正常工作，请爱惜服务器资源，切勿重复提交数据，谢谢；
                </li>
                <div class="ui divider"></div>
                <div class="ui form">
                    <form action="/ip" method="POST">
                        <div class="field">
                            <label for="email">请输入接收IP地址的E-mail</label>
                            <input id="email" name="email" type="email" placeholder="dear@jhon.com" required>
                        </div>
                        <input type="submit" class="ui submit button">
                    </form>
                </div>
            </div>
            <div style="text-align: center;">
                <div class="ui divider"></div>
                <div class="ui action input" th:if="${url != '' && url != null}">
                    <input type="text" th:value="${url}">
                    <button class=" ui teal right labeled icon button">
                        <i class="copy icon"></i>
                        请手动复制
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>